In [1]:
import numpy as np
import pandas as pd

In [2]:
base_data = pd.read_csv("mental_health_finaldata_1.csv")
base_data

,Age,Sex,Occupation,Days Indoors,Growing Stress,Quarantine Frustrations,Changes Habits,Mental Health History,Weight Change,Mood Swings,Coping Struggles,Work Interest,Social Weakness
0,20-25,Female,Corporate,1-14 days,Yes,Yes,No,Yes,Yes,Medium,No,No,Yes
1,30-Above,Male,Others,31-60 days,Yes,Yes,Maybe,No,No,High,No,No,Yes
2,30-Above,Female,Student,Go out Every day,No,No,Yes,No,No,Medium,Yes,Maybe,No
3,25-30,Male,Others,1-14 days,Yes,No,Maybe,No,Maybe,Medium,No,Maybe,Yes
4,16-20,Female,Student,More than 2 months,Yes,Yes,Yes,No,Yes,Medium,Yes,Maybe,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,30-Above,Female,Housewife,Go out Every day,Yes,Maybe,No,No,No,Low,No,No,Yes
795,25-30,Male,Student,Go out Every day,Maybe,Yes,Maybe,No,Maybe,High,Yes,Maybe,No
796,20-25,Male,Others,Go out Every day,Yes,No,Yes,No,Maybe,Medium,Yes,No,Maybe
797,30-Above,Female,Housewife,1-14 days,Yes,Yes,No,Yes,Maybe,High,No,Yes,Yes
798,30-Above,Male,Corporate,15-30 days,No,Maybe,No,Maybe,Yes,Medium,No,Maybe,No

In [3]:
base_data.columns

Index(['Age', 'Sex', 'Occupation', 'Days Indoors', 'Growing Stress',
       'Quarantine Frustrations', 'Changes Habits', 'Mental Health History',
       'Weight Change', 'Mood Swings', 'Coping Struggles', 'Work Interest',
       'Social Weakness'],
      dtype='object')

In [4]:
base_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      799 non-null    object
 1   Sex                      799 non-null    object
 2   Occupation               799 non-null    object
 3   Days Indoors             799 non-null    object
 4   Growing Stress           799 non-null    object
 5   Quarantine Frustrations  799 non-null    object
 6   Changes Habits           799 non-null    object
 7   Mental Health History    799 non-null    object
 8   Weight Change            799 non-null    object
 9   Mood Swings              799 non-null    object
 10  Coping Struggles         799 non-null    object
 11  Work Interest            799 non-null    object
 12  Social Weakness          799 non-null    object
dtypes: object(13)
memory usage: 81.3+ KB

In [5]:
base_data.describe()

,Age,Sex,Occupation,Days Indoors,Growing Stress,Quarantine Frustrations,Changes Habits,Mental Health History,Weight Change,Mood Swings,Coping Struggles,Work Interest,Social Weakness
count,799,799,799,799,799,799,799,799,799,799,799,799,799
unique,4,2,5,5,3,3,3,3,3,3,2,3,3
top,30-Above,Female,Housewife,31-60 days,Yes,Yes,Yes,Maybe,Maybe,Low,No,No,Maybe
freq,217,425,182,168,292,298,302,276,271,271,401,285,273

In [6]:
print(base_data.Social Weakness.values)

array(['Age', 'Sex', 'Occupation', 'Days Indoors', 'Growing Stress',
       'Quarantine Frustrations', 'Changes Habits',
       'Mental Health History', 'Weight Change', 'Mood Swings',
       'Coping Struggles', 'Work Interest', 'Social Weakness'],
      dtype=object)