In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import os

import tensorflow as tf
import tensorflow_decision_forests as tfdf

In [3]:
print(f"Found TF-DF {tf.__version__}")

Found TF-DF 2.13.0

In [6]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
test_df = pd.read_csv("/kaggle/input/titanic/test.csv")

train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
def preprocess(df):
    df = df.copy()
    
    def normalize_name(x):
        return " ".join([v.strip(",()[].\"'") for v in x.split(" ")])
    
    def ticket_number(x):
        return x.split(" ")[-1]
        
    def ticket_item(x):
        items = x.split(" ")
        if len(items) == 1:
            return "NONE"
        return "_".join(items[0:-1])
    
    df["Name"] = df["Name"].apply(normalize_name)
    df["Ticket_number"] = df["Ticket"].apply(ticket_number)
    df["Ticket_item"] = df["Ticket"].apply(ticket_item)                     
    return df
    
preprocessed_train_df = preprocess(train_df)
preprocessed_test_df = preprocess(test_df)

preprocessed_train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE

In [8]:
preprocessed_train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Ticket_number,Ticket_item
0,1,0,3,Braund Mr Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S,21171,A/5
1,2,1,1,Cumings Mrs John Bradley Florence Briggs Thayer,female,38.0,1,0,PC 17599,71.2833,C85,C,17599,PC
2,3,1,3,Heikkinen Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3101282,STON/O2.
3,4,1,1,Futrelle Mrs Jacques Heath Lily May Peel,female,35.0,1,0,113803,53.1000,C123,S,113803,NONE
4,5,0,3,Allen Mr William Henry,male,35.0,0,0,373450,8.0500,NaN,S,373450,NONE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,Montvila Rev Juozas,male,27.0,0,0,211536,13.0000,NaN,S,211536,NONE
887,888,1,1,Graham Miss Margaret Edith,female,19.0,0,0,112053,30.0000,B42,S,112053,NONE
888,889,0,3,Johnston Miss Catherine Helen Carrie,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,6607,W./C.
889,890,1,1,Behr Mr Karl Howell,male,26.0,0,0,111369,30.0000,C148,C,111369,NONE
890,891,0,3,Dooley Mr Patrick,male,32.0,0,0,370376,7.7500,NaN,Q,370376,NONE

In [9]:
input_features = list(preprocessed_train_df.columns)
input_features.remove("Ticket")
input_features.remove("PassengerId")
input_features.remove("Survived")
#input_features.remove("Ticket_number")

print(f"Input features: {input_features}")

Input features: ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked', 'Ticket_number', 'Ticket_item']

In [10]:
unique_counts = preprocessed_train_df["Ticket"].nunique()

print(unique_counts)

681

In [13]:
def tokenize_names(features, labels=None):
    """Divite the names into tokens. TF-DF can consume text tokens natively."""
    features["Name"] =  tf.strings.split(features["Name"])
    return features, labels

train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_train_df,label="Survived").map(tokenize_names)
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(preprocessed_test_df).map(tokenize_names)

In [15]:
train_ds

<_MapDataset element_spec=({'PassengerId': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Pclass': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Name': RaggedTensorSpec(TensorShape([None, None]), tf.string, 1, tf.int64), 'Sex': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'Age': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'SibSp': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Parch': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Ticket': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'Fare': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'Cabin': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'Embarked': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'Ticket_number': TensorSpec(shape=(None,), dtype=tf.string, name=None), 'Ticket_item': TensorSpec(shape=(None,), dtype=tf.string, name=None)}, TensorSpec(shape=(None,), dtype=tf.int64, name=None))>

In [14]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0, # Very few logs
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True, # Only use the features in "features"
    random_seed=1234,
)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

[WARNING 24-01-20 20:27:07.4579 UTC gradient_boosted_trees.cc:1818] "goss_alpha" set but "sampling_method" not equal to "GOSS".
[WARNING 24-01-20 20:27:07.4583 UTC gradient_boosted_trees.cc:1829] "goss_beta" set but "sampling_method" not equal to "GOSS".
[WARNING 24-01-20 20:27:07.4583 UTC gradient_boosted_trees.cc:1843] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
[INFO 24-01-20 20:27:16.3957 UTC kernel.cc:1243] Loading model from path /tmp/tmpbqgovd0f/model/ with prefix a246a1dfac3249e9
[INFO 24-01-20 20:27:16.4080 UTC abstract_model.cc:1311] Engine "GradientBoostedTreesQuickScorerExtended" built
[INFO 24-01-20 20:27:16.4082 UTC kernel.cc:1075] Use fast generic engine

WARNING: AutoGraph could not transform <function simple_ml_inference_op_with_handle at 0x7e73a376d750> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: could not get source code
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
Accuracy: 0.8260869383811951 Loss:0.8608942627906799

In [16]:
model = tfdf.keras.GradientBoostedTreesModel(
    verbose=0, # Very few logs
    features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
    exclude_non_specified_features=True, # Only use the features in "features"
    
    #num_trees=2000,
    
    # Only for GBT.
    # A bit slower, but great to understand the model.
    # compute_permutation_variable_importance=True,
    
    # Change the default hyper-parameters
    # hyperparameter_template="benchmark_rank1@v1",
    
    #num_trees=1000,
    #tuner=tuner
    
    min_examples=1,
    categorical_algorithm="RANDOM",
    #max_depth=4,
    shrinkage=0.05,
    #num_candidate_attributes_ratio=0.2,
    split_axis="SPARSE_OBLIQUE",
    sparse_oblique_normalization="MIN_MAX",
        sparse_oblique_num_projections_exponent=2.0,
    num_trees=2000,
    #validation_ratio=0.0,
    random_seed=1234,
    
)
model.fit(train_ds)

self_evaluation = model.make_inspector().evaluation()
print(f"Accuracy: {self_evaluation.accuracy} Loss:{self_evaluation.loss}")

[WARNING 24-01-20 20:29:20.4195 UTC gradient_boosted_trees.cc:1818] "goss_alpha" set but "sampling_method" not equal to "GOSS".
[WARNING 24-01-20 20:29:20.4196 UTC gradient_boosted_trees.cc:1829] "goss_beta" set but "sampling_method" not equal to "GOSS".
[WARNING 24-01-20 20:29:20.4197 UTC gradient_boosted_trees.cc:1843] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
[INFO 24-01-20 20:29:21.6263 UTC kernel.cc:1243] Loading model from path /tmp/tmp24s7cvzw/model/ with prefix 9fccb6e432934367
[INFO 24-01-20 20:29:21.6368 UTC decision_forest.cc:660] Model loaded with 42 root(s), 2212 node(s), and 10 input feature(s).
[INFO 24-01-20 20:29:21.6369 UTC abstract_model.cc:1311] Engine "GradientBoostedTreesGeneric" built
[INFO 24-01-20 20:29:21.6369 UTC kernel.cc:1075] Use fast generic engine

Accuracy: 0.782608687877655 Loss:1.060815453529358

In [17]:
model.summary()

Model: "gradient_boosted_trees_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "GRADIENT_BOOSTED_TREES"
Task: CLASSIFICATION
Label: "__LABEL"

Input Features (11):
	Age
	Cabin
	Embarked
	Fare
	Name
	Parch
	Pclass
	Sex
	SibSp
	Ticket_item
	Ticket_number

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.           "Sex"  0.597073 ################
    2.           "Age"  0.363764 #######
    3.          "Fare"  0.264018 ###
    4.          "Name"  0.207843 #
    5.        "Pclass"  0.178906
    6. "Ticket_number"  0.178488
    7.   "Ticket_item"  0.177907
    8.      "Embarked"  0.177237
    9.         "Parch"  0.175481
   10.         "SibSp"  0.171800

Variable Importance: NUM_AS_ROOT:
    1.  "Sex" 36.000000 ################
    2. "Name"  6.000000

Variable Importance: NUM_NODES:
    1.           "Age" 530.000000 ################
    2.          "Fare" 311.000000 #########
    3.          "Name" 66.000000 #
    4.   "Ticket_item" 50.000000 #
    5.           "Sex" 42.000000 #
    6.         "Parch" 26.000000
    7. "Ticket_number" 21.000000
    8.        "Pclass" 17.000000
    9.      "Embarked" 16.000000
   10.         "SibSp"  6.000000

Variable Importance: SUM_SCORE:
    1.           "Sex" 484.272240 ################
    2.           "Age" 393.999352 #############
    3.          "Fare" 323.250985 ##########
    4.          "Name" 105.330212 ###
    5.        "Pclass" 26.851849
    6.   "Ticket_item" 25.837695
    7. "Ticket_number" 17.652836
    8.      "Embarked"  9.217001
    9.         "Parch"  7.010211
   10.         "SibSp"  0.574055



Loss: BINOMIAL_LOG_LIKELIHOOD
Validation loss value: 1.06082
Number of trees per iteration: 1
Node format: NOT_SET
Number of trees: 42
Total number of nodes: 2212

Number of nodes by tree:
Count: 42 Average: 52.6667 StdDev: 4.47036
Min: 41 Max: 63 Ignored: 0
----------------------------------------------
[ 41, 42)  2   4.76%   4.76% ##
[ 42, 43)  0   0.00%   4.76%
[ 43, 44)  0   0.00%   4.76%
[ 44, 45)  0   0.00%   4.76%
[ 45, 46)  1   2.38%   7.14% #
[ 46, 47)  0   0.00%   7.14%
[ 47, 49)  2   4.76%  11.90% ##
[ 49, 50)  5  11.90%  23.81% ####
[ 50, 51)  0   0.00%  23.81%
[ 51, 52)  4   9.52%  33.33% ###
[ 52, 53)  0   0.00%  33.33%
[ 53, 54) 13  30.95%  64.29% ##########
[ 54, 55)  0   0.00%  64.29%
[ 55, 57)  9  21.43%  85.71% #######
[ 57, 58)  1   2.38%  88.10% #
[ 58, 59)  0   0.00%  88.10%
[ 59, 60)  3   7.14%  95.24% ##
[ 60, 61)  0   0.00%  95.24%
[ 61, 62)  1   2.38%  97.62% #
[ 62, 63]  1   2.38% 100.00% #

Depth by leafs:
Count: 1127 Average: 4.8465 StdDev: 0.454147
Min: 2 Max: 5 Ignored: 0
----------------------------------------------
[ 2, 3)   1   0.09%   0.09%
[ 3, 4)  40   3.55%   3.64%
[ 4, 5)  90   7.99%  11.62% #
[ 5, 5] 996  88.38% 100.00% ##########

Number of training obs by leaf:
Count: 1127 Average: 29.7764 StdDev: 71.9364
Min: 1 Max: 467 Ignored: 0
----------------------------------------------
[   1,  24) 884  78.44%  78.44% ##########
[  24,  47)  79   7.01%  85.45% #
[  47,  71)  44   3.90%  89.35%
[  71,  94)  19   1.69%  91.04%
[  94, 117)  13   1.15%  92.19%
[ 117, 141)  15   1.33%  93.52%
[ 141, 164)  24   2.13%  95.65%
[ 164, 187)   6   0.53%  96.18%
[ 187, 211)   4   0.35%  96.54%
[ 211, 234)   1   0.09%  96.63%
[ 234, 257)   1   0.09%  96.72%
[ 257, 281)   3   0.27%  96.98%
[ 281, 304)   2   0.18%  97.16%
[ 304, 327)   2   0.18%  97.34%
[ 327, 351)   2   0.18%  97.52%
[ 351, 374)  11   0.98%  98.49%
[ 374, 397)   5   0.44%  98.94%
[ 397, 421)   9   0.80%  99.73%
[ 421, 444)   1   0.09%  99.82%
[ 444, 467]   2   0.18% 100.00%

Attribute in nodes:
	530 : Age [NUMERICAL]
	311 : Fare [NUMERICAL]
	66 : Name [CATEGORICAL_SET]
	50 : Ticket_item [CATEGORICAL]
	42 : Sex [CATEGORICAL]
	26 : Parch [NUMERICAL]
	21 : Ticket_number [CATEGORICAL]
	17 : Pclass [NUMERICAL]
	16 : Embarked [CATEGORICAL]
	6 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 0:
	36 : Sex [CATEGORICAL]
	6 : Name [CATEGORICAL_SET]

Attribute in nodes with depth <= 1:
	50 : Age [NUMERICAL]
	36 : Sex [CATEGORICAL]
	26 : Fare [NUMERICAL]
	7 : Name [CATEGORICAL_SET]
	5 : Pclass [NUMERICAL]
	2 : Ticket_number [CATEGORICAL]

Attribute in nodes with depth <= 2:
	130 : Age [NUMERICAL]
	76 : Fare [NUMERICAL]
	36 : Sex [CATEGORICAL]
	19 : Name [CATEGORICAL_SET]
	8 : Ticket_number [CATEGORICAL]
	7 : Embarked [CATEGORICAL]
	6 : Pclass [NUMERICAL]
	6 : Parch [NUMERICAL]
	5 : Ticket_item [CATEGORICAL]

Attribute in nodes with depth <= 3:
	270 : Age [NUMERICAL]
	173 : Fare [NUMERICAL]
	39 : Name [CATEGORICAL_SET]
	38 : Sex [CATEGORICAL]
	18 : Ticket_item [CATEGORICAL]
	13 : Ticket_number [CATEGORICAL]
	12 : Parch [NUMERICAL]
	12 : Embarked [CATEGORICAL]
	9 : Pclass [NUMERICAL]
	3 : SibSp [NUMERICAL]

Attribute in nodes with depth <= 5:
	530 : Age [NUMERICAL]
	311 : Fare [NUMERICAL]
	66 : Name [CATEGORICAL_SET]
	50 : Ticket_item [CATEGORICAL]
	42 : Sex [CATEGORICAL]
	26 : Parch [NUMERICAL]
	21 : Ticket_number [CATEGORICAL]
	17 : Pclass [NUMERICAL]
	16 : Embarked [CATEGORICAL]
	6 : SibSp [NUMERICAL]

Condition type in nodes:
	890 : ObliqueCondition
	145 : ContainsBitmapCondition
	50 : ContainsCondition
Condition type in nodes with depth <= 0:
	40 : ContainsBitmapCondition
	2 : ContainsCondition
Condition type in nodes with depth <= 1:
	81 : ObliqueCondition
	43 : ContainsBitmapCondition
	2 : ContainsCondition
Condition type in nodes with depth <= 2:
	218 : ObliqueCondition
	62 : ContainsBitmapCondition
	13 : ContainsCondition
Condition type in nodes with depth <= 3:
	467 : ObliqueCondition
	89 : ContainsBitmapCondition
	31 : ContainsCondition
Condition type in nodes with depth <= 5:
	890 : ObliqueCondition
	145 : ContainsBitmapCondition
	50 : ContainsCondition

Training logs:
Number of iteration to final model: 42
	Iter:1 train-loss:1.264594 valid-loss:1.360749  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:2 train-loss:1.210623 valid-loss:1.320363  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:3 train-loss:1.160657 valid-loss:1.281972  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:4 train-loss:1.116982 valid-loss:1.250548  train-accuracy:0.624531 valid-accuracy:0.543478
	Iter:5 train-loss:1.075170 valid-loss:1.221467  train-accuracy:0.807259 valid-accuracy:0.760870
	Iter:6 train-loss:1.035656 valid-loss:1.199482  train-accuracy:0.822278 valid-accuracy:0.760870
	Iter:16 train-loss:0.787670 valid-loss:1.088161  train-accuracy:0.903630 valid-accuracy:0.771739
	Iter:26 train-loss:0.648139 valid-loss:1.066864  train-accuracy:0.921151 valid-accuracy:0.782609
	Iter:36 train-loss:0.559101 valid-loss:1.068122  train-accuracy:0.921151 valid-accuracy:0.782609
	Iter:46 train-loss:0.496837 valid-loss:1.064204  train-accuracy:0.929912 valid-accuracy:0.771739
	Iter:56 train-loss:0.451017 valid-loss:1.083011  train-accuracy:0.941176 valid-accuracy:0.771739
	Iter:66 train-loss:0.415965 valid-loss:1.105307  train-accuracy:0.946183 valid-accuracy:0.771739

In [20]:
def prediction_to_kaggle_format(model, threshold=0.5):
    proba_survive = model.predict(test_ds, verbose=0)[:,0]
    return pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": (proba_survive >= threshold).astype(int)
    })

def make_submission(kaggle_predictions):
    path="/kaggle/working/submission.csv"
    kaggle_predictions.to_csv(path, index=False)
    print(f"Submission exported to {path}")
    
kaggle_predictions = prediction_to_kaggle_format(model)
make_submission(kaggle_predictions)
!head /kaggle/working/submission.csv

Submission exported to /kaggle/working/submission.csv
PassengerId,Survived
892,0
893,0
894,0
895,0
896,0
897,0
898,0
899,0
900,1

In [21]:
tuner = tfdf.tuner.RandomSearch(num_trials=1000)
tuner.choice("min_examples", [2, 5, 7, 10])
tuner.choice("categorical_algorithm", ["CART", "RANDOM"])

local_search_space = tuner.choice("growing_strategy", ["LOCAL"])
local_search_space.choice("max_depth", [3, 4, 5, 6, 8])

global_search_space = tuner.choice("growing_strategy", ["BEST_FIRST_GLOBAL"], merge=True)
global_search_space.choice("max_num_nodes", [16, 32, 64, 128, 256])

#tuner.choice("use_hessian_gain", [True, False])
tuner.choice("shrinkage", [0.02, 0.05, 0.10, 0.15])
tuner.choice("num_candidate_attributes_ratio", [0.2, 0.5, 0.9, 1.0])


tuner.choice("split_axis", ["AXIS_ALIGNED"])
oblique_space = tuner.choice("split_axis", ["SPARSE_OBLIQUE"], merge=True)
oblique_space.choice("sparse_oblique_normalization",
                     ["NONE", "STANDARD_DEVIATION", "MIN_MAX"])
oblique_space.choice("sparse_oblique_weights", ["BINARY", "CONTINUOUS"])
oblique_space.choice("sparse_oblique_num_projections_exponent", [1.0, 1.5])

# Tune the model. Notice the `tuner=tuner`.
tuned_model = tfdf.keras.GradientBoostedTreesModel(tuner=tuner)
tuned_model.fit(train_ds, verbose=0)

tuned_self_evaluation = tuned_model.make_inspector().evaluation()
print(f"Accuracy: {tuned_self_evaluation.accuracy} Loss:{tuned_self_evaluation.loss}")

Use /tmp/tmpn4uildp0 as temporary training directory

[WARNING 24-01-20 20:32:10.1955 UTC gradient_boosted_trees.cc:1818] "goss_alpha" set but "sampling_method" not equal to "GOSS".
[WARNING 24-01-20 20:32:10.1955 UTC gradient_boosted_trees.cc:1829] "goss_beta" set but "sampling_method" not equal to "GOSS".
[WARNING 24-01-20 20:32:10.1956 UTC gradient_boosted_trees.cc:1843] "selective_gradient_boosting_ratio" set but "sampling_method" not equal to "SELGB".
[INFO 24-01-20 20:34:13.8660 UTC kernel.cc:1243] Loading model from path /tmp/tmpn4uildp0/model/ with prefix f7eb74db1b8e4a55
[INFO 24-01-20 20:34:13.8857 UTC decision_forest.cc:660] Model loaded with 32 root(s), 852 node(s), and 12 input feature(s).
[INFO 24-01-20 20:34:13.8860 UTC abstract_model.cc:1311] Engine "GradientBoostedTreesGeneric" built
[INFO 24-01-20 20:34:13.8864 UTC kernel.cc:1075] Use fast generic engine

Accuracy: 0.8630136847496033 Loss:0.6804219484329224

In [ ]:
predictions = None
num_predictions = 0

for i in range(100):
    print(f"i:{i}")
    # Possible models: GradientBoostedTreesModel or RandomForestModel
    model = tfdf.keras.GradientBoostedTreesModel(
        verbose=0, # Very few logs
        features=[tfdf.keras.FeatureUsage(name=n) for n in input_features],
        exclude_non_specified_features=True, # Only use the features in "features"

        #min_examples=1,
        #categorical_algorithm="RANDOM",
        ##max_depth=4,
        #shrinkage=0.05,
        ##num_candidate_attributes_ratio=0.2,
        #split_axis="SPARSE_OBLIQUE",
        #sparse_oblique_normalization="MIN_MAX",
        #sparse_oblique_num_projections_exponent=2.0,
        #num_trees=2000,
        ##validation_ratio=0.0,
        random_seed=i,
        honest=True,
    )
    model.fit(train_ds)
    
    sub_predictions = model.predict(serving_ds, verbose=0)[:,0]
    if predictions is None:
        predictions = sub_predictions
    else:
        predictions += sub_predictions
    num_predictions += 1

predictions/=num_predictions

kaggle_predictions = pd.DataFrame({
        "PassengerId": serving_df["PassengerId"],
        "Survived": (predictions >= 0.5).astype(int)
    })

make_submission(kaggle_predictions)